$dropdown-bg: #F5F5F5;
$dropdown-bg-active:#E5E5E5;
$text-color-titles: #4E4E4E;
$text-color-hover: #57A4A4;
$text-color-footer-title: #FEFEFE;
$text-color-footer: #B9B9B9;
$text-color-post-journey: #7C7C7C;
$text-color-post-descr: #5C5C5C;
$instagram-bg:rgba(0, 0, 0, 0.03);
$footer-bg: #000000;