.header {
   @include flex-space-between;
   padding: 15px;

   &__link {
      display: flex;
      text-decoration: none;
   }

   &__logo {
      width: 100px;
      height: 100px;
   }

   &__logo-text {
      margin-left: 7px;
      align-self: center;
      font-size: 45px;
      font-weight: bold;
      text-transform: uppercase;
      color: $color-yellow;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $color-green;
   }

   &__logo-text > span {
      display: block;
      color: $color-green;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $color-yellow;
   }
}